
@{
    ViewData["Title"] = "MoviewDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ">
    <div class="card bg-dark text-white border-0 card1">
        <table>
            <tr>
                <td class="color_text1 ">
                    <div class="circle card1"><i class="fa fa-users" aria-hidden="true"></i></div>
                </td>
                <td >Welcome Victor <br />Movie order<br /><button type="submit" class="btn btn-default btn-sm btn-outline-warning ml-3 search2 ">Logout&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></button></td>
            </tr>
        </table>
    </div>
    <div class="card-columns mt-3 card3  ">
        <div class="card bg-dark border-0 card1">
            <div class="card-body text-center   ">
                <table>
                    <tr>
                        <td class="color_text1 mt-4"><i class="fa fa-pause" aria-hidden="true"></i></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card bg-dark border-0 card1">
            <div class="card-body text-center   ">
                <table>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card bg-dark border-0 card1">
            <div class="card-body text-center  ">
                <table>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
